<nav
  class="navbar navbar-fluid navbar-expand-lg navbar-light bg-light text-white"
>
  <a class="navbar-brand" href="#">Login</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
