<div class="container">
  <div class="row" style="background-color: white">
    <div class="col">
      <h2 class="text-center bg-light">Login Details</h2>
    </div>
    <div class="col-12">
      <form [formGroup]="login" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name :</label>
          <input
            id="name"
            class="form-control"
            formControlName="name"
            placeholder="Enter Your Name"
            type="text"
          />
          <div *ngIf="name.invalid && name.dirty" class="text-danger">
            <div *ngIf="name.errors.required">Name is Required</div>
          </div>
        </div>
        <div class="form-group text-right">
          <div class="row text-right">
            <div class="col-12">
              <button
                class="btn btn-primary"
                type="submit"
                [disabled]="!login.valid"
              >
                Login
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
