<app-navbar></app-navbar>
<br />
<div class="container" style="background-color: white" *ngIf="animals">
  <div class="row p-2">
    <div class="col-12">
      <h1 class="text-info">Question Paper</h1>
    </div>
  </div>
  <hr />
  <div class="row m-2">
    <div class="col-md-2 col-12 p-2 font-weight-bold">
      Number of Questions :
    </div>
    <div
      class="col-md-10 col-12 p-2"
      style="box-shadow: 0 0 6px 0 rgb(0 0 0/25%); font-weight: 500"
    >
      {{ index + 1 }} out of {{ animals.length }}
    </div>
  </div>
  <div class="row p-1 mt-4">
    <div class="col-lg-6 col-12">
      <img id="img" src="{{ animals[index].img }}" />
    </div>
    <div class="col-lg-6 col-12">
      <div class="row m-2">
        <div class="col-12">
          <h3>Options :</h3>
        </div>
      </div>
      <div class="row m-2">
        <div class="col-12">
          <app-option [option]="option" (selOption)="optChange()"></app-option>
        </div>
      </div>
      <br />
      <br />
      <div class="row m-2">
        <div class="col-md-2 col-12">Answer :</div>
        <div class="col-md-10 col-12">{{ answer }}</div>
      </div>
    </div>
  </div>
  <div class="row p-1 fixed-bottom bg-light" *ngIf="show">
    <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="submit()">
        Submit Your Answer
      </button>
    </div>
  </div>
</div>
