<div *ngIf="option">
  <div class="p-2" *ngFor="let o1 of option.options">
    <input
      class="m-2"
      type="radio"
      id="{{ o1 }}"
      value="{{ o1 }}"
      name="radio01"
      [(ngModel)]="option.answer"
      (change)="emitChange()"
    />{{ o1 }}
  </div>
</div>
