<app-navbar></app-navbar>
<br />
<div class="container" *ngIf="animals">
  <div class="row text-white">
    <div class="col-12 text-center" id="result">
      <h2>Result</h2>
    </div>
  </div>
  <div class="row p-2 text-center">
    <div
      class="col-md-6 col-lg-4 col-12 p-1"
      *ngFor="let r1 of animals; index as i"
    >
      <h4>Question Number : {{ i + 1 }}</h4>
      <img src="{{ r1.img }}" style="width: 25%; height: 50%" />
      <br />
      <br />
      <strong class="text-info">
        Answer : <span class="text-danger">{{ r1.answer }}</span>
      </strong>
    </div>
  </div>
  <br />
  <div class="row" style="padding-top: 5px; padding-bottom: 10px">
    <div class="col-12 text-center">
      <a href="#" class="btn btn-primary" role="button"> Replay Game </a>
    </div>
  </div>
</div>
